* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}


.gallery__image-container {
    font-family: usual-cons;
    width: calc(33.333% - 20px);
    margin: 10px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 900px) {
    .gallery__image-container {
        width: calc(50% - 20px);
    }
}
@media (max-width: 500px) {
    .gallery__image-container {
        width: 100%;
    }
}

.gallery__image-container::after, .gallery__image-container::before {
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.gallery__image-container::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    transform: scale(0.1);
}

.gallery__image-container::before {
    content: "d";
    font-size: 50px;
    z-index: 10;
    color: white;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery__image-container:hover::after {
    transform: scale(1);
    opacity: 0.5;
}

.gallery__image-container:hover::before {
    top: 50%;
    opacity: 1;
}

.gallery__image-container img {
    width: 100%;
    display: block;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.modal__container {
    width: 100%;
    max-width: 900px;
    border: white 5px solid;
    border-radius: 5px;
    position: relative;
}

.modal__container img {
    display: block;
    width: 100%;
}

.modal__container p {
    position: absolute;
    color: white;
    bottom:0px;
    right: 3px;
}

.modal__button {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    font-size: 35px;
    border-radius: 10px;
    background: white;
    color: black;
    cursor: pointer;
    font-family: 'Major Mono Display', monospace;
    transition: all .3s ease-in;
    opacity: 0.5
}

.modal__button:hover {
    opacity: 1;
}

.modal__close-button {
    top: 10px;
    right: 10px;
}

.modal__left-arrow,  .modal__right-arrow{
    top: 50%;
    transform: translateY(-50%);
    line-height: 48px;
}

.modal__left-arrow{
    left: 10px;
}

.modal__right-arrow {
    right: 10px;
}